
h1 {
  color: #fd5312;
  text-align: center;
  font-family: Poppins;
}

p {
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
}

h3 {
	font-family: Poppins;
	font-size: 18 px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	color : #F3450A;
	 
}

hw {
  color: #fd5312;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
}

wh {
  color: #fd5312;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  margin-left: 6.5%;
}

pw {
  font-family: Poppins;
  font-size: 20px;
}

.text {
font-family: Poppins;
}

h2 {
font-family: Poppins;
}

center {
  text-align: center;
  justify-content: center;
}




.newtrajet {
        display: inline-block;
        background-color: #fd5312;
        border-radius: 30px;
        border: 4px double #eeeeee;
        color: #eeeeee;
        text-align: center;
        font-size: 15px;
        padding: 20px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      .newtrajet span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
	  

      .newtrajet span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .newtrajet:hover {
        background-color: #fc6c2c;
		transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

.days {
        display: inline-block;
        background-color: #fca480;
        border-radius: 10px;
        border: 4px double #eeeeee;
        color: #eeeeee;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        padding: 5px;
        width: 80px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      .days span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      .days span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .days:hover {
        background-color: #fc602c;
		transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      
      }
.days.selected {
  background-color: #fc602c;
}

#container {
            max-width: 900px; /* Adjust the width as needed */
            height: 800x; /* Adjust the height as needed */
            border: 5px solid #fc7c4b;
            padding: 5px;
            border-radius: 10px;
            margin: 10px auto;
        }

        .value-box {
            display: block;
            margin: 10px 0;
        }

		.logo {
			width: 45px; /* Adjust the logo width as needed */
			margin-right: 10px; /* Add spacing between logo and input */
			margin-left: 10px;
			transition: transform .2s; /* Animation */
		}	
		
		.logo:hover {
		  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
		}

#totalEmissionContainer {
    display: none; /* Initially hidden */
}

#emissionLogo {
    max-width: 50px; /* Adjust the width as needed */
}

#totalWeeklyEmission {
    display: inline; /* Initially inline (hidden) */
}

.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

.value-input {
             padding: 4px;
             font-size: 14px;
             text-align: center;
             font-family: Poppins;
             border-width: 3px;
             border-color: #ff4100;
             background-color: #ececec;
             width: 40px;
             color: #000000;
             margin-left: 10px;
             margin-right: 10px;
             border-style: solid;
             border-radius: 10px;
             box-shadow: 0px 0px 0px rgba(66,66,66,.75);
             text-shadow: 0px 0px 0px rgba(66,66,66,.75);
        }
         .value-input:focus {
             outline:none;
        }

.wrapper-warning {
  position: fixed;
  top: 50%; /* Align the top of the warning at 50% from the top */
  left: 50%; /* Align the left of the warning at 50% from the left */
  transform: translate(-50%, -50%); /* Center the warning message */
  z-index: 1000; /* Ensure the warning stays above other elements */
}

.wrapper-warning .card {
  width: 650px;
  height: 120px;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid #fd4120;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-warning .card .subject {
  margin-right: 180px;
  padding-left: 20px; /* Add padding to the left side of the text */
}

.wrapper-warning .card .subject p {
  color: #909092;
}

.wrapper-warning .card .icon {
  font-size: 28px;
  color: #fd4120;
}

.wrapper-warning .card .icon-times {
  font-size: 28px;
  color: #c3c2c7;
  cursor: pointer;
}

.wrapper-aide {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.wrapper-aide .card {
  width: 700px;
  height: 350px;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: row; /* Set flex-direction to row */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  border-left: 5px solid #fd4120;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-aide .card .subject {
  flex-grow: 1; /* Allow the subject to take up remaining space */
}

.wrapper-aide .card .subject .icon {
  font-size: 28px;
  color: #fd4120;
  margin-left: 200px ; 
  
   /* Adjust the margin for spacing */
}

.wrapper-aide .card .subject .title {
  color: #fd4120;
  font-size: 18px;
}

.wrapper-aide .card .subject p {
  color: #909092;
}

.wrapper-aide .card .icon-times {
  font-size: 28px;
  color: #c3c2c7;
  cursor: pointer;
}




/* CSS for the "Yes" column */
th:nth-child(4) {
    text-align: center;
}

/* CSS for the "Nombre de personne dans la voiture" column */
th:nth-child(5) {
    text-align: center;
}


th {
  //border: 2px solid rgb(200, 200, 200);
  padding: 1px;
  text-align: left;
  font-weight: normal;
}

body{
	background-color: #ececec;
	padding: 0;
	margin: 0;
}


:root {
  --scale-factor: 1;
}

.container2 {
  height: calc(120px * var(--scale-factor));
  width: calc(250px * var(--scale-factor));
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65), 7px 7px 15px rgba(70, 70, 70, 0.12);
  border-radius: calc(5px * var(--scale-factor));
  display: grid;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  height: calc(80px * var(--scale-factor));
  width: calc(160px * var(--scale-factor));
  border: calc(5px * var(--scale-factor)) solid #ececec;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65), 7px 7px 15px rgba(70, 70, 70, 0.12),
  inset -7px -7px 15px rgba(255, 255, 255, 0.65), inset 7px 7px 15px rgba(70, 70, 70, 0.12);
  outline: none;
  cursor: pointer;
  //left: 50%;
  border-radius: calc(40px * var(--scale-factor));
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}

input[type="checkbox"]:before {
  height: calc(50px * var(--scale-factor));
  width: calc(50px * var(--scale-factor));
  background-color: #cdcdcd;
  box-shadow: calc(-7px * var(--scale-factor)) calc(-7px * var(--scale-factor)) calc(15px * var(--scale-factor)) rgba(255, 255, 255, 0.75), calc(7px * var(--scale-factor)) calc(7px * var(--scale-factor)) calc(15px * var(--scale-factor)) rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  left: calc(15px * var(--scale-factor));
}

input[type="checkbox"]:after {
  height: calc(15px * var(--scale-factor));
  width: calc(15px * var(--scale-factor));
  background-color: #7a7a7a;
  border-radius: 50%;
  right: calc(-55px * var(--scale-factor));
}

input[type="checkbox"]:checked:before {
  left: calc(86px * var(--scale-factor));
  background-color: #fd4120;
  position: absolute;
}

input[type="checkbox"]:checked:after {
  background-color: #00ff26;
}

/*input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 6px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fd4120;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fd4120;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 8px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(255,85,0, .2)
}
/*input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 8px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(255,85,0, .2)
}

/*input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}

/*=============
Aesthetics 
=========================*/

body {
  font-family: system-ui;
}

.range {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  height: 4rem;
  width: 100%;
  padding: 0px 0px;
}

.value {
  font-size: 16px; 
  font-family: Poppins ;   
  width: 50px;
  text-align: center;
}


/* Input Type Number */

.container_number{
    position: relative;
    display: flex;
    border-width: 1px;
    //background-color: #ffffff;
    border-radius: 10px;
    //box-shadow: 0 20px 30px rgba(0,0,0,0.15);
    box-sizing: content-box;
    width : 10px;
    height : 30px;
    //margin: 10px 45px;
    margin-left: 15%;
}
input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    border: none;
    background-color: #dbdbdb;
    color: #202030;
    //box-sizing: content-box;
    width : 20px;
    //height : 30px;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

button_number{
    color: #fd4120;
    background-color: #dbdbdb;
    border: none;
    font-size: 14px;
    font-family: Poppins;
    cursor: pointer;
}

/* Decrement buttons for all transport names */
[id^="decrement"] {
    padding: 5px 0px 5px 5px;
    border-radius: 15px 0px 0px 15px;
}

/* Increment buttons for all transport names */
[id^="increment"] {
    padding: 5px 5px 5px 0px;
    border-radius: 0px 15px 15px 0px;
}